/* 🔥 Garantindo fundo escuro */
html, body {
    background-color: #121212 !important;
    color: white;
    margin: 0;
    padding: 0;
}

h1 {
    color: #ff0000;
    text-align: center;
}

.main-container {
    flex-grow: 1;
    text-align: center;
    padding: 20px;
    max-width: calc(100vw - 320px);
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2px;
}

.stream-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1a1a1a;
    border-radius: 5px;
    padding: 3px;
    margin: 0;
    width: calc(100% / 4 - 8px);
}

/* 🔥 Posicionando corretamente o chat */
.chat-sidebar {
    overflow-y: auto; /* 🔥 Permite rolagem quando há muitos chats */
    max-height: 100vh;
    position: fixed;
    right: 0;
    width: 300px;
    height: 100vh;
    background-color: #1a1a1a;
    padding: 10px;
    border-left: 2px solid #ffffff;
    display: flex;
    flex-direction: column;
    transition: transform 0.3s ease-in-out;
    transform: translateX(0px);
}

#chatContainer {
    width: 100%;
    height: auto;
}

#toggleChatButton {
    padding: 8px;
    background-color: #ffffff;
    color: #18181b;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

/* 🔥 Estilização do botão de remover live */
.remove-stream-btn {
    margin-top: 10px;
    padding: 8px;
    background-color: #ff0000;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}
.remove-stream-btn:hover {
    background-color: #cc0000;
}